In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("2017-18_teamBoxScore.xlsx")

In [3]:
df.head()

,team,Win/loss,Loc,2P%,3P%,FT%,ASST%,TS%,TREB%,STL%,BLK%,teamEDiff,EFG%,OREB%,TO%
0,ATL,1,0,0.5132,0.5000,0.8000,41.6667,0.5815,54.9451,11.1027,6.0560,6.0560,0.5585,30.4348,11.4437
1,ATL,0,0,0.4462,0.2333,0.8571,52.7778,0.4498,40.0000,10.4326,3.7937,-17.0715,0.4158,11.7647,11.3875
2,ATL,0,0,0.3731,0.2593,0.9167,65.6250,0.4734,48.4848,5.7382,1.9127,-11.4765,0.3777,29.6296,12.7146
3,ATL,0,0,0.4915,0.4118,0.7778,38.8889,0.5541,50.0000,9.1129,1.0125,-11.1381,0.5197,16.2162,20.0152
4,ATL,0,0,0.3962,0.3929,0.8462,68.7500,0.4958,39.2157,10.9991,5.4995,-5.4995,0.4630,13.7255,10.3391

In [4]:
ndarray = df.values

In [5]:
ndarray.shape

(2460, 15)

In [6]:
def PreprocessData(raw_df):
    ndarray = df.values
    Features = ndarray[:,2:15]
    Label = ndarray[:,1]
    return Features , Label

In [7]:
from sklearn import preprocessing
msk = np.random.rand(len(df))<0.8
train_df = df[msk]
test_df = df[~msk]
train_Features,train_Label = PreprocessData(train_df)
test_Features,test_Label = PreprocessData(test_df)
print('total:',len(df) ,
      'train:',len(train_df),
      'test:',len(test_df))

total: 2460 train: 1933 test: 527

In [8]:
from keras.models import Sequential
from keras.layers import Dense,Dropout,Activation

Using TensorFlow backend.

In [9]:
model = Sequential()

In [10]:
model.add(Dense(units = 60, input_dim = 13, 
                activation = 'relu'))
model.add(Dropout(0.3))

In [11]:
model.add(Dense(units = 30, 
                activation = 'relu'))
model.add(Dropout(0.5))

In [12]:
model.add(Dense(units = 1,
                activation = 'sigmoid'))

In [13]:
model.compile(loss='binary_crossentropy',
              optimizer = 'adam' ,metrics=['accuracy'])

In [14]:
train_history = model.fit(x = train_Features, 
                          y = train_Label
                          ,epochs=10 , batch_size=16 )

Epoch 1/10
2460/2460 [==============================] - 1s 470us/step - loss: 1.2439 - acc: 0.6362
Epoch 2/10
2460/2460 [==============================] - 0s 145us/step - loss: 0.3805 - acc: 0.8362
Epoch 3/10
2460/2460 [==============================] - 0s 143us/step - loss: 0.2275 - acc: 0.9053
Epoch 4/10
2460/2460 [==============================] - 0s 140us/step - loss: 0.1464 - acc: 0.9366
Epoch 5/10
2460/2460 [==============================] - 0s 146us/step - loss: 0.1045 - acc: 0.9589
Epoch 6/10
2460/2460 [==============================] - 0s 147us/step - loss: 0.0933 - acc: 0.9695
Epoch 7/10
2460/2460 [==============================] - 0s 146us/step - loss: 0.0774 - acc: 0.9772
Epoch 8/10
2460/2460 [==============================] - 0s 143us/step - loss: 0.0543 - acc: 0.9801
Epoch 9/10
2460/2460 [==============================] - 0s 152us/step - loss: 0.0330 - acc: 0.9870
Epoch 10/10
2460/2460 [==============================] - 0s 147us/step - loss: 0.0396 - acc: 0.9846

In [15]:
scores = model.evaluate(x = test_Features , y=test_Label)

2460/2460 [==============================] - 0s 73us/step

In [16]:
scores[1]

0.9955284552845528

In [68]:
BOS = df[200:246]
CLE = df[410:492]
GS = df[738:820]
HOU = df[820:902]
IND = df[902:984]
MIA = df[1230:1312]
MIL = df[1312:1394]
MIN = df[1394:1476]
NO = df[1530:1558]
OKC = df[1722:1804]
PHI = df[1804:1886]
POR = df[1968:2050]
SA = df[2175:2214]
TOR = df[2250:2296]
UTA = df[2296:2378]
WAS = df[2378:2460]
BOS_1 = pd.read_excel("BOS1.xlsx")
BOS_2 = pd.read_excel("BOS2.xlsx")
CLE_1 = pd.read_excel("CLE1.xlsx")
CLE_2 = pd.read_excel("CLE2.xlsx")
CLE_3 = pd.read_excel("CLE3.xlsx")
HOU_1 = pd.read_excel("HOU1.xlsx")
HOU_2 = pd.read_excel("HOU2.xlsx")
GS_1 = pd.read_excel("GS1.xlsx")
GS_2 = pd.read_excel("GS2.xlsx")
GS_3 = pd.read_excel("GS3.xlsx")
UTA_1 = pd.read_excel("UTA1.xlsx")
PHI_1 = pd.read_excel("PHI1.xlsx")
NO_1 = pd.read_excel("NO1.xlsx")
TOR_1 = pd.read_excel("TOR1.xlsx")

In [72]:
def InputData(df_team):
    df_team = pd.DataFrame(df_team)
    df_team.rename(columns={'TEAM':'team' , 'Home/Guest':'Loc' , 'AST%':'ASST%','TRB%':'TREB%','Diff':'teamEDiff','eFG%':'EFG%','ORB%':'OREB%','TOV%':'TO%'})
    df_team = df_team.values
    df_team = np.matrix(df_team)
    df_team = df[0:][['2P%' , '3P%' , 'FT%' , 'ASST%' , 'TS%' , 'TREB%' ,'STL%' , 'BLK%' , 'teamEDiff' , 'EFG%', 'OREB%' , 'TO%']]
    df_team_analysis = df_team.describe()
    df_team_analysis = df_team_analysis[1:3]
    df_team_noise=df_team_analysis.values
    g=[]
    for i in range(12):
        k = np.arange(12)
        g.append(("a_%s")%k[i])
        g[i] = np.random.normal(0 , 0.2 ,1)
    g = np.array(g)
    noise = []
    for j in range(12):
        l = g[j] * df_team_noise [1][j]
        noise.append(l)
    noise = np.matrix(noise)
    noise = noise.T
    df_team_noise[0] = np.matrix(df_team_noise[0])
    return df_team_noise[0] + noise

In [20]:
def Home(team1):
    M = [1]
    Home_data = InputData(team1)
    Home_data = pd.DataFrame(Home_data)
    Home_data.insert(0,'Loc',M)
    Home_data_f = Home_data.values
    team1 = Home_data_f
    return team1

In [21]:
def Guest(team2):
    N = [0]
    Guest_data = InputData(team2)
    Guest_data = pd.DataFrame(Guest_data)
    Guest_data.insert(0,'Loc',N)
    Guest_data_f = Guest_data.values
    team2 = Guest_data_f
    return team2

In [37]:
def series(team1,team2):
    temp1 = InputData(team1) 
    temp2 = InputData(team2)
    i = 0
    j = 0
    while (i < 4) and (j<4):
        team1 = temp1
        team2 = temp2
        if 1<(i+j)<4:
            team1 = Guest(team1)
            team2 = Home(team2)
        if 4<(i+j)<6:
            team1 = Guest(team1)
            team2 = Home(team2)
        else:
            team1 = Home(team1)
            team2 = Guest(team2)
            team1_win_percent = model.predict(team1)
            team2_win_percent = model.predict(team2)
        if team1_win_percent>team2_win_percent:
            i = i+1
            print("%s : win  , %s : lose " %(TEAM[0],TEAM[1]))
            if i == 4:
                print("%s win the series" %TEAM[0])
                break
        else:
            j = j+1
            print("%s : lose ,%s : win  " %(TEAM[0],TEAM[1]))
            if j == 4:
                print("%s win the series" %TEAM[1])
                break

# Start to predict

# Western conference first round

In [109]:
TEAM = ['GS','SA']
series(GS,SA)
TEAM = ['OKC','UTA']
series(OKC,UTA)
TEAM = ['HOU','WAS']
series(HOU,WAS)
TEAM = ['POR','NO']
series(POR,NO)

GS : win  , SA : lose
GS : win  , SA : lose
GS : lose ,SA : win
GS : win  , SA : lose
GS : win  , SA : lose
GS win the series
OKC : win  , UTA : lose
OKC : win  , UTA : lose
OKC : win  , UTA : lose
OKC : lose ,UTA : win
OKC : lose ,UTA : win
OKC : lose ,UTA : win
OKC : win  , UTA : lose
OKC win the series
HOU : win  , WAS : lose
HOU : lose ,WAS : win
HOU : win  , WAS : lose
HOU : win  , WAS : lose
HOU : win  , WAS : lose
HOU win the series
POR : lose ,NO : win
POR : win  , NO : lose
POR : lose ,NO : win
POR : lose ,NO : win
POR : win  , NO : lose
POR : win  , NO : lose
POR : win  , NO : lose
POR win the series

# Eastern conference first round

In [110]:
TEAM = ['CLE','IND']
series(CLE,IND)
TEAM = ['PHI','MIA']
series(PHI,MIA)
TEAM = ['BOS','MIL']
series(BOS,MIL)
TEAM = ['TOR','WAS']
series(TOR,WAS)

CLE : lose ,IND : win
CLE : lose ,IND : win
CLE : win  , IND : lose
CLE : lose ,IND : win
CLE : win  , IND : lose
CLE : win  , IND : lose
CLE : win  , IND : lose
CLE win the series
PHI : win  , MIA : lose
PHI : lose ,MIA : win
PHI : lose ,MIA : win
PHI : win  , MIA : lose
PHI : win  , MIA : lose
PHI : win  , MIA : lose
PHI win the series
BOS : win  , MIL : lose
BOS : lose ,MIL : win
BOS : lose ,MIL : win
BOS : win  , MIL : lose
BOS : win  , MIL : lose
BOS : win  , MIL : lose
BOS win the series
TOR : win  , WAS : lose
TOR : lose ,WAS : win
TOR : win  , WAS : lose
TOR : win  , WAS : lose
TOR : win  , WAS : lose
TOR win the series

# Western Conference Semifinals

In [111]:
TEAM = ['GS','POR']
series(GS_1,POR)
TEAM = ['HOU','OKC']
series(HOU_1,OKC)

GS : win  , POR : lose
GS : lose ,POR : win
GS : win  , POR : lose
GS : lose ,POR : win
GS : lose ,POR : win
GS : lose ,POR : win
POR win the series
HOU : lose ,OKC : win
HOU : lose ,OKC : win
HOU : win  , OKC : lose
HOU : win  , OKC : lose
HOU : win  , OKC : lose
HOU : win  , OKC : lose
HOU win the series

# Eastern Conference Semifinals

In [112]:
TEAM = ['BOS','PHI']
series(BOS_1,PHI_1)
TEAM = ['TOR','CLE']
series(TOR_1,CLE_1)

BOS : lose ,PHI : win
BOS : win  , PHI : lose
BOS : lose ,PHI : win
BOS : win  , PHI : lose
BOS : win  , PHI : lose
BOS : win  , PHI : lose
BOS win the series
TOR : win  , CLE : lose
TOR : win  , CLE : lose
TOR : lose ,CLE : win
TOR : win  , CLE : lose
TOR : win  , CLE : lose
TOR win the series

# Western Conference Finals

In [113]:
TEAM = ['HOU','POR']
series(HOU_2,POR)

HOU : win  , POR : lose
HOU : lose ,POR : win
HOU : lose ,POR : win
HOU : win  , POR : lose
HOU : lose ,POR : win
HOU : lose ,POR : win
POR win the series

# Eastern Conference Finals

In [114]:
TEAM = ['BOS','TOR']
series(BOS_2,CLE_2)

BOS : lose ,TOR : win
BOS : lose ,TOR : win
BOS : win  , TOR : lose
BOS : lose ,TOR : win
BOS : lose ,TOR : win
TOR win the series

# NBA FINALS

In [116]:
TEAM = ['POR' ,'TOR']
series(POR,TOR_1)

POR : lose ,TOR : win
POR : lose ,TOR : win
POR : lose ,TOR : win
POR : lose ,TOR : win
TOR win the series

In [117]:
##real
TEAM = ['GS' ,'CLE']
series(GS_3,CLE_3)

GS : lose ,CLE : win
GS : win  , CLE : lose
GS : win  , CLE : lose
GS : lose ,CLE : win
GS : win  , CLE : lose
GS : win  , CLE : lose
GS win the series